<ion-content>
  <ion-grid class="container">
    <ion-card>
      <ion-card-title>Titlebar Manager</ion-card-title>
      <ion-card-content>
        Just like a web browser, elastOS applications have a titlebar above which can be managed by developers such as changing the title and color or setting up navigation or menu items.
      </ion-card-content>
    </ion-card>

    <h1>How to Setup</h1>
    <p>To use Titlebar Manager, just simply add the line of code below to any typescript file that needs its service.</p>
    <img src="assets/titlebar-demo/declare.png"/>

    <h1>How to Use</h1>
    <p>With Titlebar Manager declared, it's best used under a page life cycle or upon app render</p>
    <img src="assets/titlebar-demo/sample.png"/>

  </ion-grid>
</ion-content>
