[submodule "Launcher"]
	path = Trinity/Launcher
	url = ../Elastos.Trinity.DApps.Launcher.git
[submodule "Dapps/Ionic/DID"]
	path = Trinity/Dapps/Ionic/DID
	url = ../Elastos.Trinity.DApps.DID.git
[submodule "Dapps/Ionic/DIDSession"]
	path = Trinity/Dapps/Ionic/DIDSession
	url = ../Elastos.Trinity.DApps.DIDSession.git
[submodule "Dapps/Ionic/Friends"]
	path = Trinity/Dapps/Ionic/Friends
	url = ../Elastos.Trinity.DApps.Friends.git
[submodule "Dapps/Ionic/Qrcodescanner"]
	path = Trinity/Dapps/Ionic/Qrcodescanner
	url = ../Elastos.Trinity.DApps.QRCodeScanner.git
[submodule "Dapps/Ionic/Settings"]
	path = Trinity/Dapps/Ionic/Settings
	url = ../Elastos.Trinity.DApps.Settings.git
[submodule "Dapps/Ionic/Wallet"]
	path = Trinity/Dapps/Ionic/Wallet
	url = ../Elastos.Trinity.DApps.Wallet.git
[submodule "Plugins/Carrier"]
	path = Trinity/Plugins/Carrier
	url = ../Elastos.Trinity.Plugins.Carrier.git
[submodule "Plugins/DID"]
	path = Trinity/Plugins/DID
	url = ../Elastos.Trinity.Plugins.DID.git
[submodule "Plugins/File"]
	path = Trinity/Plugins/File
	url = ../Elastos.Trinity.Plugins.File.git
[submodule "Plugins/Hive"]
	path = Trinity/Plugins/Hive
	url = ../Elastos.Trinity.Plugins.Hive.git
[submodule "Plugins/IonicWebView"]
	path = Trinity/Plugins/IonicWebView
	url = ../Elastos.Trinity.Plugins.IonicWebView.git
[submodule "Plugins/Media"]
	path = Trinity/Plugins/Media
	url = ../Elastos.Trinity.Plugins.Media.git
[submodule "Plugins/QRScanner"]
	path = Trinity/Plugins/QRScanner
	url = ../Elastos.Trinity.Plugins.QRScanner.git
[submodule "Plugins/Wallet"]
	path = Trinity/Plugins/Wallet
	url = ../Elastos.Trinity.Plugins.Wallet.git
[submodule "Plugins/Fingerprint"]
	path = Trinity/Plugins/Fingerprint
	url = ../Elastos.Trinity.Plugins.Fingerprint.git
[submodule "Runtime"]
	path = Trinity/Runtime
	url = ../Elastos.Trinity.Runtime.git
[submodule "ToolChains"]
	path = Trinity/ToolChains
	url = ../Elastos.Trinity.ToolChains.git
