[submodule "SPV.Cpp"]
	path = Trinity/Dependency/SPV.Cpp
	url = ../Elastos.ELA.SPV.Cpp
	branch = dev
[submodule "Launcher"]
	path = Trinity/Launcher
	url = ../Elastos.Trinity.DApps.Launcher.git
	branch = dev
[submodule "Dapps/Ionic/Wallet"]
	path = Trinity/Dapps/Ionic/Wallet
	url = ../Elastos.Trinity.Dapps.Wallet.git
	branch = dev
[submodule "Plugins/Carrier"]
	path = Trinity/Plugins/Carrier
	url = ../Elastos.Trinity.Plugins.Carrier.git
	branch = dev
[submodule "Plugins/File"]
	path = Trinity/Plugins/File
	url = ../Elastos.Trinity.Plugins.File.git
	branch = dev
[submodule "Plugins/Hive"]
	path = Trinity/Plugins/Hive
	url = ../Elastos.Trinity.Plugins.Hive.git
	branch = dev
[submodule "Plugins/IonicWebView"]
	path = Trinity/Plugins/IonicWebView
	url = ../Elastos.Trinity.Plugins.IonicWebView.git
	branch = dev
[submodule "Plugins/Media"]
	path = Trinity/Plugins/Media
	url = ../Elastos.Trinity.Plugins.Media.git
	branch = dev
[submodule "Plugins/QRScanner"]
	path = Trinity/Plugins/QRScanner
	url = ../Elastos.Trinity.Plugins.QRScanner.git
	branch = dev
[submodule "Plugins/Wallet"]
	path = Trinity/Plugins/Wallet
	url = ../Elastos.Trinity.Plugins.Wallet.git
	branch = dev
[submodule "Runtime"]
	path = Trinity/Runtime
	url = ../Elastos.Trinity.Runtime.git
	branch = feat_nativePlugins
[submodule "Plugins/AppManager"]
	path = Trinity/Plugins/AppManager
	url = ../Elastos.Trinity.Runtime.Plugins.AppManager.git
	branch = dev
[submodule "Plugins/AppService"]
	path = Trinity/Plugins/AppService
	url = ../Elastos.Trinity.Runtime.Plugins.AppService.git
	branch = dev
[submodule "ToolChains"]
	path = Trinity/ToolChains
	url = ../Elastos.Trinity.ToolChains.git
	branch = dev
