<ion-header >
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start" class="header-btns">
      <ion-button routerLink="/game" routerDirection="forward">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Phaser Demo
    </ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-button (click)="gameService.closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="ion-no-margin" color="dark">
      <ion-card-title class="ion-padding ion-text-center">Scoreboard</ion-card-title>
      <ion-card-content>
        <ion-list class="ion-no-padding" color="dark">
          <ion-item color="dark" *ngFor="let score of fixScores().slice(0,10)" lines="none">
            <ion-label>{{ fixTime(score.time) }}</ion-label>
            <p><span>{{ score.ela }}</span>  ELA</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
