ion-card {
  ion-card-title {
    font-weight: 600;
    font-size: 18px;

    h4 {
      margin-top: 0;
      font-weight: 700;
      font-size: 26px;
    }
  }

  ion-card-content {
    font-weight: 600;
  }
}