<ion-header no-border>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start" class="header-btns">
      <ion-button (click)="gameService.minimizeApp()">
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Game Demo</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-button (click)="gameService.closeApp()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" align="center">
    <h1>Welcome to Coin Match!</h1>
    <p>Simply match all the cryptos to win!</p>
    <ion-button color="dark" mode="ios" expand="block" routerLink="/level1" routerDirection="forward">
      Start Game
    </ion-button>
  </div>
</ion-content>
