.container {
  min-height: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ion-card {
    margin: 0;
    min-width: 66%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, #181d20 0%,  #21313d 100%);

    ion-card-title {
      margin: 0;
      text-align: center;
      color: white;
      letter-spacing: 0.3px;
      font-size: 26px;
      font-weight: 800;
    }
  }

  h3, h4, h5 {
    margin: 0;
    letter-spacing: 0.3px;
  }

  h3, h4 {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.53;
  }

  h3 {
    padding: 30px 5px 15px;
  }

  h4 {
    padding: 15px 5px 30px;
  }

  h5 {
    text-align: center;
    padding: 0px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.53;
  }

  img {
    border-radius: 10px;
  }
}
